{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Blog</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <!-- script
    ================================================== -->
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script defer src="{% static 'js/fontawesome/all.min.js' %}"></script>

    <!-- favicons
    ================================================== -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png"> -->
    <!-- <link rel="manifest" href="site.webmanifest"> -->

</head>

<body id="top">


    <!-- header
    ================================================== -->
    <header class="s-header" style="background-color: SlateBlue;">

        <div class="s-header__logo">
            <a class="logo" href="{% url 'profile' %}">
                <img src="https://img.icons8.com/ios-glyphs/30/000000/test-account.png"/>
                <!-- <img src="{% static 'images/logo.png' %}" alt="Homepage"> -->
            </a>
           
        </div>
       
        <div class="row s-header__navigation">

            <nav class="s-header__nav-wrap">

                <h3 class="s-header__nav-heading h6">Navigate to</h3>

                <ul class="s-header__nav">
                    <li class="current"><a href="{% url 'index' %}" title="">Home</a></li>
                    <li class="has-children">
                        <a href="" title="">Categories</a>
                        <ul class="sub-menu">
                            {% for c in category %}
                            <li><a href="{% url 'category' cat=c %}">{{c}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                                       
                    <li><a href="{% url 'upload-blog' %}" title="">Upload Blog</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" title="">Logout</a></li>
                    {% else %}
                    <li><a href="registration" title="">Sign-Up</a></li>
                    <li><a href="{% url 'login' %}" title="">Sign-In</a></li>
                    {% endif %}
                </ul> <!-- end s-header__nav -->
                

                <a href="#0" title="Close Menu" class="s-header__overlay-close close-mobile-menu">Close</a>

            </nav> <!-- end s-header__nav-wrap -->

        </div> <!-- end s-header__navigation -->

        <a class="s-header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

        <div class="s-header__search">

            <div class="s-header__search-inner">
                <div class="row wide">

                    <form role="search" method="post" class="s-header__search-form" action="{% url 'search' %}">
                        {% csrf_token %}
                        <label>
                            <span class="h-screen-reader-text">Search for:</span>
                            <input type="search" class="s-header__search-field" placeholder="Search for..."  name="search" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="s-header__search-submit" value="Search"> 
                    </form>

                    <a href="#0" title="Close Search" class="s-header__overlay-close">Close</a>

                </div> <!-- end row -->
            </div> <!-- s-header__search-inner -->

        </div> <!-- end s-header__search wrap -->	

        <a class="s-header__search-trigger" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.982 17.983"><path fill="#010101" d="M12.622 13.611l-.209.163A7.607 7.607 0 017.7 15.399C3.454 15.399 0 11.945 0 7.7 0 3.454 3.454 0 7.7 0c4.245 0 7.699 3.454 7.699 7.7a7.613 7.613 0 01-1.626 4.714l-.163.209 4.372 4.371-.989.989-4.371-4.372zM7.7 1.399a6.307 6.307 0 00-6.3 6.3A6.307 6.307 0 007.7 14c3.473 0 6.3-2.827 6.3-6.3a6.308 6.308 0 00-6.3-6.301z"/></svg>
        </a>

    </header> <!-- end s-header -->

    {% block content %}
    {% endblock %}
    <footer class="s-footer">
    <div class="s-footer__bottom">

        <div class="ss-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top">
                <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M7.5 1.5l.354-.354L7.5.793l-.354.353.354.354zm-.354.354l4 4 .708-.708-4-4-.708.708zm0-.708l-4 4 .708.708 4-4-.708-.708zM7 1.5V14h1V1.5H7z" fill="currentColor"></path></svg>
            </a>
        </div> <!-- end ss-go-top -->
    </div> <!-- end s-footer__bottom -->
    </footer>
    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>